<div class="layout">
  
  <header class="layout-header">
    <span class="brand">BANCO</span>
  </header>

  <div class="layout-body">

    <aside class="layout-sidebar">
      <div class="menu-item" routerLink="/customers" routerLinkActive="active">Clientes</div>
      <div class="menu-item" routerLink="/accounts" routerLinkActive="active">Cuentas</div>
      <div class="menu-item" routerLink="/movements" routerLinkActive="active">Movimientos</div>
      <div class="menu-item" routerLink="/reports" routerLinkActive="active">Reportes</div>
    </aside>

    <main class="layout-content">
    
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
